@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src:  url('../lib/ebgaramond-googlefont/EBGaramond-Regular.ttf') format('truetype'), /* Chrome 26+, Opera 23+, Firefox 39+ */

}

/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'),
       url('../lib/roboto-googlefont/Roboto-Thing.ttf') format('truetype'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* roboto-100italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
       url('../lib/roboto-googlefont/Roboto-ThingItalic.ttf') format('truetype'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
       url('../lib/roboto-googlefont/Roboto-Light.ttf') format('truetype'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* roboto-300italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
       url('../lib/roboto-googlefont/Roboto-LightItalic.ttf') format('truetype'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../lib/roboto-googlefont/Roboto-Regular.ttf') format('truetype'), /* Chrome 26+, Opera 23+, Firefox 39+ */
     
}
/* roboto-italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'),
       url('../lib/roboto-googlefont/Roboto-Italic.ttf') format('truetype'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../lib/roboto-googlefont/Roboto-Medium.ttf') format('truetype'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* roboto-500italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
       url('../lib/roboto-googlefont/Roboto-MediumItalic.ttf') format('truetype'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../lib/roboto-googlefont/Roboto-Bold.ttf') format('truetype'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      
}
/* roboto-700italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
       url('../lib/roboto-googlefont/Roboto-BoldItalic.ttf') format('truetype'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'),
       url('../lib/roboto-googlefont/Roboto-Black.ttf') format('truetype'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* roboto-900italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
       url('../lib/roboto-googlefont/Roboto-BlackItalic.ttf') format('truetype'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}
