<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <title>HEADER CONTENT</title>
        <link rel="stylesheet" type="text/css" href="../resources/lib/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="../resources/css/index.css"/>
        <script src="../resources/lib/jquery/dist/jquery.min.js"></script>
        <script src="../resources/lib/bootstrap/dist/js/bootstrap.min.js"></script>
     
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button class="navbar-toggle" data-target="#navbar-collapse-1" data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-collapse-1">
                <div class="container">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="index.html" class="front-page">Home</a>
                        </li>
                        <li class="dropdown">
                            <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Explore <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="poem/index.html">Poems</a>
                                </li>
                                <li>
                                    <a href="object/index.html">Objects</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <main>
        <section id="images">
            <div class="sticky">
                <div id="index-coleridge">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/SamuelTaylorColeridge.jpg"/>
                </div>
                <div id="index-byron">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/3/3c/Byron_1813_by_Phillips.jpg"/>
                </div>
            </div>
         
        </section>
        <article>
        <header id="logo">
          <h1>
            <span class="logo-top">The Gendered</span><br/>
            <span class="logo-middle">Personification</span><br/>
            <span class="logo-bottom">Index</span><br/>
            <span class="credits">Edited by Rawia Inaim</span>
          </h1>
        </header>
        <section id="content">
            <section id="about">
                <h2>About</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Laoreet non curabitur gravida arcu ac tortor dignissim convallis. Urna et pharetra pharetra massa massa ultricies. Enim praesent elementum facilisis leo vel fringilla est ullamcorper. Tempus quam pellentesque nec nam. Massa id neque aliquam vestibulum morbi blandit cursus risus. Velit egestas dui id ornare arcu odio ut. Gravida dictum fusce ut placerat orci nulla pellentesque dignissim. Eget mauris pharetra et ultrices. Malesuada fames ac turpis egestas. Mi ipsum faucibus vitae aliquet nec ullamcorper sit. In ante metus dictum at tempor commodo ullamcorper a.</p>
                    <p>Ut lectus arcu bibendum at varius vel pharetra vel. Orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt tortor. Sed velit dignissim sodales ut eu sem integer. Interdum velit euismod in pellentesque massa placerat duis ultricies. Id eu nisl nunc mi ipsum faucibus vitae. Quam viverra orci sagittis eu volutpat odio facilisis mauris. Cursus in hac habitasse platea dictumst. Sit amet consectetur adipiscing elit pellentesque. Nisl pretium fusce id velit ut tortor pretium. Fermentum iaculis eu non diam phasellus. Proin libero nunc consequat interdum varius sit amet mattis vulputate. Enim sed faucibus turpis in eu. Justo donec enim diam vulputate ut pharetra sit amet aliquam. Vitae elementum curabitur vitae nunc sed velit dignissim sodales ut. Mattis aliquam faucibus purus in.</p>
                    <p>Hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit. A erat nam at lectus urna duis convallis convallis. Pellentesque sit amet porttitor eget dolor. Ut pharetra sit amet aliquam id diam maecenas. Convallis convallis tellus id interdum velit. Consectetur purus ut faucibus pulvinar. Placerat in egestas erat imperdiet sed euismod. Ac auctor augue mauris augue neque gravida in fermentum. At volutpat diam ut venenatis tellus. Eu mi bibendum neque egestas congue quisque egestas diam. Pellentesque dignissim enim sit amet venenatis urna cursus eget. Nulla facilisi morbi tempus iaculis urna. Nisl tincidunt eget nullam non nisi. Sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur. Nunc mattis enim ut tellus.</p>
                    <p>Aliquam purus sit amet luctus venenatis. Ultricies mi quis hendrerit dolor magna eget est. Porta nibh venenatis cras sed felis eget velit aliquet sagittis. Leo integer malesuada nunc vel. Ac tincidunt vitae semper quis lectus nulla at volutpat. Eget mi proin sed libero enim sed faucibus turpis. Rutrum quisque non tellus orci ac auctor augue. Tincidunt ornare massa eget egestas purus viverra. Justo nec ultrices dui sapien eget mi proin. Senectus et netus et malesuada fames ac turpis. Imperdiet sed euismod nisi porta lorem mollis aliquam ut. In vitae turpis massa sed elementum tempus egestas sed. Turpis massa sed elementum tempus egestas sed sed.</p>
                    <p>Ornare lectus sit amet est placerat. Et malesuada fames ac turpis egestas maecenas pharetra convallis posuere. Fames ac turpis egestas sed. Diam quis enim lobortis scelerisque fermentum. Eu ultrices vitae auctor eu augue ut lectus. Orci phasellus egestas tellus rutrum tellus pellentesque. Velit aliquet sagittis id consectetur purus ut faucibus pulvinar elementum. Donec ultrices tincidunt arcu non. In nisl nisi scelerisque eu ultrices vitae auctor eu augue. Auctor neque vitae tempus quam. Lobortis elementum nibh tellus molestie nunc non blandit massa enim. Ornare arcu odio ut sem nulla pharetra diam sit. Justo donec enim diam vulputate ut pharetra sit amet. Turpis massa sed elementum tempus egestas. Eget velit aliquet sagittis id consectetur purus. Congue quisque egestas diam in arcu cursus euismod quis. Aliquam ut porttitor leo a.</p>
              </section>
            <section id="methodology">
                <h2>Methodology</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Laoreet non curabitur gravida arcu ac tortor dignissim convallis. Urna et pharetra pharetra massa massa ultricies. Enim praesent elementum facilisis leo vel fringilla est ullamcorper. Tempus quam pellentesque nec nam. Massa id neque aliquam vestibulum morbi blandit cursus risus. Velit egestas dui id ornare arcu odio ut. Gravida dictum fusce ut placerat orci nulla pellentesque dignissim. Eget mauris pharetra et ultrices. Malesuada fames ac turpis egestas. Mi ipsum faucibus vitae aliquet nec ullamcorper sit. In ante metus dictum at tempor commodo ullamcorper a.</p>
                <p>Ut lectus arcu bibendum at varius vel pharetra vel. Orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt tortor. Sed velit dignissim sodales ut eu sem integer. Interdum velit euismod in pellentesque massa placerat duis ultricies. Id eu nisl nunc mi ipsum faucibus vitae. Quam viverra orci sagittis eu volutpat odio facilisis mauris. Cursus in hac habitasse platea dictumst. Sit amet consectetur adipiscing elit pellentesque. Nisl pretium fusce id velit ut tortor pretium. Fermentum iaculis eu non diam phasellus. Proin libero nunc consequat interdum varius sit amet mattis vulputate. Enim sed faucibus turpis in eu. Justo donec enim diam vulputate ut pharetra sit amet aliquam. Vitae elementum curabitur vitae nunc sed velit dignissim sodales ut. Mattis aliquam faucibus purus in.</p>
                <p>Hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit. A erat nam at lectus urna duis convallis convallis. Pellentesque sit amet porttitor eget dolor. Ut pharetra sit amet aliquam id diam maecenas. Convallis convallis tellus id interdum velit. Consectetur purus ut faucibus pulvinar. Placerat in egestas erat imperdiet sed euismod. Ac auctor augue mauris augue neque gravida in fermentum. At volutpat diam ut venenatis tellus. Eu mi bibendum neque egestas congue quisque egestas diam. Pellentesque dignissim enim sit amet venenatis urna cursus eget. Nulla facilisi morbi tempus iaculis urna. Nisl tincidunt eget nullam non nisi. Sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur. Nunc mattis enim ut tellus.</p>
                <p>Aliquam purus sit amet luctus venenatis. Ultricies mi quis hendrerit dolor magna eget est. Porta nibh venenatis cras sed felis eget velit aliquet sagittis. Leo integer malesuada nunc vel. Ac tincidunt vitae semper quis lectus nulla at volutpat. Eget mi proin sed libero enim sed faucibus turpis. Rutrum quisque non tellus orci ac auctor augue. Tincidunt ornare massa eget egestas purus viverra. Justo nec ultrices dui sapien eget mi proin. Senectus et netus et malesuada fames ac turpis. Imperdiet sed euismod nisi porta lorem mollis aliquam ut. In vitae turpis massa sed elementum tempus egestas sed. Turpis massa sed elementum tempus egestas sed sed.</p>
                <p>Ornare lectus sit amet est placerat. Et malesuada fames ac turpis egestas maecenas pharetra convallis posuere. Fames ac turpis egestas sed. Diam quis enim lobortis scelerisque fermentum. Eu ultrices vitae auctor eu augue ut lectus. Orci phasellus egestas tellus rutrum tellus pellentesque. Velit aliquet sagittis id consectetur purus ut faucibus pulvinar elementum. Donec ultrices tincidunt arcu non. In nisl nisi scelerisque eu ultrices vitae auctor eu augue. Auctor neque vitae tempus quam. Lobortis elementum nibh tellus molestie nunc non blandit massa enim. Ornare arcu odio ut sem nulla pharetra diam sit. Justo donec enim diam vulputate ut pharetra sit amet. Turpis massa sed elementum tempus egestas. Eget velit aliquet sagittis id consectetur purus. Congue quisque egestas diam in arcu cursus euismod quis. Aliquam ut porttitor leo a.</p>
            </div>
          </section>
          </article>
          </main>
        </body>
        

</html>
