<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>GPI</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8"/>
        <meta data-template="config:app-meta"/>
        
        <link rel="stylesheet" type="text/css" href="resources/lib/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>

        <script src="resources/lib/jquery/dist/jquery.min.js"></script>
        <script src="resources/lib/bootstrap/dist/js/bootstrap.min.js"></script>
 
    </head>
    <body id="body">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
                <button class="navbar-toggle" data-target="#navbar-collapse-1" data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"/>
                    <span class="icon-bar"/>
                    <span class="icon-bar"/>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-collapse-1">
                <div class='container'>
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="index.html" class="front-page">Home</a>
                        </li>
                        <li class="dropdown">
                            <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Explore <span class="caret"/>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="poem/index.html">Poems</a>
                                </li>
                                <li>
                                    <a href="object/index.html">Objects</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <main id="content">
   
        </main>
        
        <footer class="footer">
            <div class="container">
                <p>
                    <b>GPI</b>
                    <br/>
                </p>
            </div>
        </footer>
        <script src="resources/js/gpi.js"/>
        
        <script src="../resources/lib/tablesorter/dist/js/jquery.tablesorter.min.js"/>
        <script>
        (function($){
            $(function(){
                $('table.sortable').tablesorter();
            });
        })(jQuery);
    </script>
    </body>
</html>